<footer>
        <p>A project by
            <a href="http://www.manuodelrio.com">Manuel Oppel del Rio</a>
        </p>
        <!-- Product Hunt Badge -->
        <a href="https://www.producthunt.com/posts/goodbrief?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-goodbrief" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=156542&theme=light&period=daily" alt="GoodBrief - A random generator for design briefs. | Product Hunt Embed" style="width: 240px; height: 52px; filter: invert(1) contrast(.5) sepia() hue-rotate(130deg) contrast(1.4) brightness(1.4) opacity(.8);" width="240px" height="52px" /></a>
    </footer>
</div>

<script src="js/main.min.js"></script>
</body>

</html>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    crossorigin="anonymous">