<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131354364-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-131354364-1');
    </script>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Get Unique Design Briefs - Creative Brief Generator | Good Brief</title>
    <meta name="title" content="GoodBrief: Get Unique Design Briefs">
    <meta name="description" content="Randomly generate smart design briefs to
    practice your design skills, get content for your portfolio
    and gain experience working off a real design brief.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Preload -->
    <link rel="preload" href="/fonts/sofia_pro_bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/sofia_pro_bold-webfont.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/sofia_pro_light-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/sofia_pro_light-webfont.woff" as="font" type="font/woff" crossorigin>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://goodbrief.io/">
    <meta property="og:title" content="GoodBrief: Get Unique Design Briefs">
    <meta property="og:description" content="Randomly generate design briefs to practice your design skills, get content for your portfolio and gain experience.">
    <meta property="og:image" content="https://goodbrief.io/social.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://goodbrief.io/">
    <meta property="twitter:title" content="GoodBrief: Get Unique Design Briefs">
    <meta property="twitter:description" content="Randomly generate design briefs to practice your design skills, get content for your portfolio and gain experience.">
    <meta property="twitter:image" content="https://goodbrief.io/social.png">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=A05jPmMe3x">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=A05jPmMe3x">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=A05jPmMe3x">
    <link rel="manifest" href="/favicons/site.webmanifest?v=A05jPmMe3x">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=A05jPmMe3x" color="#00bfa5">
    <link rel="shortcut icon" href="/favicons/favicon.ico?v=A05jPmMe3x">
    <meta name="apple-mobile-web-app-title" content="GoodBrief">
    <meta name="application-name" content="GoodBrief">
    <meta name="msapplication-TileColor" content="#086054">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml?v=A05jPmMe3x">
    <meta name="theme-color" content="#00BFA5">

    <link rel="manifest" href="manifest.json">

    <!-- CSS -->
    <link rel="preload" href="/main.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/main.min.css"></noscript>

    <!-- Dark Mode -->
    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.querySelector('html').classList.add('dark');
        } else {
            document.querySelector('html').classList.remove('dark');
        }
    </script>
</head>

<body class="bg-teal-500 dark:bg-black min-h-screen overflow-auto transition-colors duration-1000">
        <div class="relative max-w-3xl mx-auto pb-12 sm:px-3 overflow-y-hidden ">
            <header class="flex items-baseline m-4 sm:my-6 sm:mx-0">
                <h1 class="inline-block text-white text-3xl pr-3">
                    <a href="/">good<span>brief</span></a>
                </h1>
                <p class="sm:inline-block text-white hidden">
                    A random generator for design briefs.
                </p>
                <nav class="flex ml-auto text-white">
                    <p><a href="/about">About</a></p>
                    <button class="leading-0 ml-4" type="button" onclick="changeTheme()">
                        <ion-icon name="moon" size="small" class="dark:hidden"></ion-icon>
                        <ion-icon name="sunny" size="small" class="hidden dark:inline-block"></ion-icon>
                    </button>
                </nav>
            </header>