<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131354364-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-131354364-1');
    </script>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Get Unique Design Briefs - Creative Brief Generator | Good Brief</title>
    <meta name="description" content="Randomly generate smart design briefs to
    practice your design skills, get content for your portfolio
    and gain experience working off a real design brief.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=3e8GeldPwo">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=3e8GeldPwo">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=3e8GeldPwo">
    <link rel="manifest" href="/favicons/site.webmanifest?v=3e8GeldPwo">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=3e8GeldPwo" color="#00b39b">
    <link rel="shortcut icon" href="/favicons/favicon.ico?v=3e8GeldPwo">
    <meta name="apple-mobile-web-app-title" content="goodbrief">
    <meta name="application-name" content="goodbrief">
    <meta name="msapplication-TileColor" content="#00b39b">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml?v=3e8GeldPwo">
    <meta name="theme-color" content="#00b39b">

    <link rel="manifest" href="manifest.json">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="main.min.css" />
</head>

<body>
        <a href="https://www.producthunt.com/posts/goodbrief?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-goodbrief" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=156542&theme=dark" alt="GoodBrief - A random generator for design briefs. | Product Hunt Embed" style="width: 250px; height: 54px; position:fixed; bottom: 20px; left: 20px;" width="250px" height="54px" /></a>

        <div class="container">
                <nav>
                    <p><a href="/about">About</a></p>
                </nav>

                <header>
                        <h1>
                            <a href="/">good<span>brief</span></a>
                        </h1>
                        <p>A random generator for design briefs.</p>
                    </header>