<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Get Unique Design Briefs - Creative Brief Generator</title>
    <meta name="description" content="Randomly generate smart design briefs
    practice your design skills, get content for your portfolio
    and gain experience working off a real design brief.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png?v=kP3Pp4BP08">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png?v=kP3Pp4BP08">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png?v=kP3Pp4BP08">
    <link rel="manifest" href="favicons/site.webmanifest?v=kP3Pp4BP08">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg?v=kP3Pp4BP08" color="#00bfa5">
    <link rel="shortcut icon" href="favicons/favicon.ico?v=kP3Pp4BP08">
    <meta name="apple-mobile-web-app-title" content="/Brief">
    <meta name="application-name" content="/Brief">
    <meta name="msapplication-TileColor" content="#00bfa5">
    <meta name="msapplication-config" content="favicons/browserconfig.xml?v=kP3Pp4BP08">
    <meta name="theme-color" content="#00bfa5">
    <link rel="manifest" href="manifest.json">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="main.min.css" />
</head>

<body>

        <div class="container">
                <nav>
                    <p><a href="/about">About</a></p>
                </nav>

                <header>
                        <h1>
                            <a href="/">/Brief</a>
                        </h1>
                        <p>A random generator for design briefs.</p>
                    </header>