<div class="overflow-hidden rounded shadow-lg text-dark-teal dark:text-white bg-white dark:bg-teal-900 transition-colors duration-1000">
    <a href="<%=exampleLink%>">
        <div class="relative w-full h-56 overflow-hidden rounded">
            <img class="absolute object-cover w-full h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="<%=exampleImg%>" alt="">
        </div>
        <div class="flex justify-between items-center p-4">
            <p><%=exampleName%></p>
            <ion-icon class="ml-2" name="open-outline" size="small"></ion-icon>
        </div>
    </a>
</div>