@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sofia_probold';
    src: url('fonts/sofia_pro_bold-webfont.woff2') format('woff2'),
         url('fonts/sofia_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_prolight';
    src: url('fonts/sofia_pro_light-webfont.woff2') format('woff2'),
         url('fonts/sofia_pro_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    font-family: 'Nunito Sans', Roboto, 'Open Sans', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


*::selection {
    background-color: hsla(172, 100%, 35%, 1);
    color: white;
}

.collapsed.collapsed {
    max-height: 0px;
    pointer-events: none;
}

.selected {
    background-color: white;
}

.dark .selected {
    @apply bg-teal-500;
}

.dark .selected:hover {
    @apply bg-opacity-100;
}

.dark .selected i.fas {
    @apply text-white;
}

.brief {
    min-height: calc(100vh - 15em);
}

header h1 a {
    font-family: 'sofia_prolight','Nunito Sans', Roboto, 'Open Sans', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

header h1 a span {
    font-family: 'sofia_probold','Nunito Sans', Roboto, 'Open Sans', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section.about {
    display: block;
    padding: 30px;
}

.skeleton {
    transition: opacity .3s ease;
}

.brief:not(.loading) .skeleton {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.brief.loading .content {
    position: absolute;
    opacity: 0;
}

footer {
    color: hsla(0, 0%, 100%, 80%);
    text-align: center;
}
footer a {
    color: hsla(0, 0%, 100%, 90%)
}

@keyframes loading {
    0% {
        background-position: 100% 50%;
        transform: translateY(0);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); 
    }
    50% {
        transform: translateY(-3px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }
    100% {
        background-position: 0 50%;
        transform: translateY(0);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); 
    }
  }

@keyframes shimmer {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.primary-btn.loading {
    pointer-events: none;
    background: linear-gradient(90deg,#FFCC80 25%, #ffe4bc 37%,#FFCC80 63%);
    background-size: 400% 100%;
    animation: loading 1.3s ease infinite;
    background-color: #FFCC80;
}

.skeleton-header, .skeleton-p {
    background: linear-gradient(90deg,#d3dfdc 25%, #edf2f1 37%,#d3dfdc 63%);
    background-size: 400% 100%;
    animation: shimmer 1.3s ease infinite;
    width: 120px;
    height: 20px;
    margin: 5px 0;
    border-radius: 3px;
}

.skeleton-p {
    width: 100%;
}

.skeleton-header:not(:first-child) {
    margin-top: 30px;
}