*{
    font-family: 'Nunito Sans', Roboto, 'Open Sans', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


*::-moz-selection {
    background-color: hsla(172, 100%, 35%, 1);
    color: white;
}


*::selection {
    background-color: hsla(172, 100%, 35%, 1);
    color: white;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 30px;
}

nav p a {
    text-decoration: none;
    color: hsla(0,0%,100%,80%);
}

body{
    background-color: #00BFA5;
    overflow-y: scroll;
}

header {
    text-align: center;
    font-weight: 800;
    color: #FFFFFF;
}
header h1 a{
    font-weight: 800;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 3em;
}

header p {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: -30px;
}

header h2 {
    font-weight: 800;
    color: #FFFFFF;
}

section.about {
    display: block;
    padding: 30px;
}

.container {
    max-width: 700px;
    margin: 100px auto 50px;
}

.card {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin: 60px 0;
    color: #004d42;
    -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
            box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.card a {
    color: #00bfa5;
    text-decoration:  underline;
}

.card section i {
    background-color: hsla(174, 40%, 70%, 1);;
    color: white;
    display: block;
    font-size: 2em;
    padding-top: 14%;
    margin: 20% 23%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    width: 50%;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}
.card section label:hover i {
    border: 4px solid #00a892;
    top: -2px;
    left: -2px;
}

.card section label:hover {
    cursor: pointer;
}

.option {
    border-bottom: 1px solid #e0e7e7;
}

.option-bar:hover {
    background: hsla(174,30%,71%,.19);
}

.job .option-bar:hover {
    border-radius: 4px 4px 0 0;
}

.option > .option-bar {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 15px 30px;
}

.option > .option-bar p {
    display: inline;
} 

.option > .option-bar p.value {
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    font-weight: 700; 
} 
.option > .option-bar i {
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: auto;
} 

section {
    border: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 0px 0px;
    max-height: 1000px;
    opacity: 1;
    -webkit-transition: max-height .5s ease,
                opacity .5s ease;
    transition: max-height .5s ease,
                opacity .5s ease;;
}

section.collapsed {
    max-height: 0px;
    opacity: 0;
    pointer-events: none;
}

section label {
    display: block;
    position: relative;
    border-right: 1px solid hsla(174, 31%, 71%, 0.50);
    border-top: 1px solid hsla(174, 31%, 71%, 0.50);
    background-color: hsla(174, 30%, 71%, 0.19);
    text-align: center;
}

section label::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

section label input[type="radio"]{
    visibility: hidden;
    position: absolute;
}
section label > input + i {
    cursor:pointer;
    border:2px solid transparent;
  }
  section label > input:checked + i {
    background-color: hsla(172, 100%, 33%, 1);
  }

  .option label p {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}

/* For small devices */
@media (max-width: 400px) {
    .container {
        margin: 70px auto 50px;
    }
    header h1 a {
        font-size: 2.5em;   
    }
    section {
        grid-template-columns: 1fr 1fr;
    }
    section label {
        padding: 10px 12px;
        text-align: left;
    }
    section label::before {
        padding-top: 0;
    }
    .card section i {
        font-size: 1em;
        padding: 6px;
        height: 16px;
        width: 16px;
        margin: 0;
        position: relative;
        display: inline-block;
    }
    .card section label:hover i {
        border: 2px solid #00a892;
        top: 0px;
        left: 0px;
    }
    .option label p {
        position: relative;
        bottom: auto;
        display: inline-block;
        margin: 0;
    }
}
@media (max-width: 370px) {
    .option label p {
        font-size: .85em;
    }
}

.brief {
    padding:30px;
    max-height: 600px;
    opacity: 1;
    -webkit-transition: max-height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
    transition: max-height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
}
.brief.collapsed {
    max-height: 0px;
    opacity: 0;
    pointer-events: none;
}


.brief h3:first-of-type {
    margin-top: 0;
}
.brief h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}
.brief p {
    margin: 0;
}

.card input[type="submit"] {
    background: #FFCC80;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    border: none;
    padding: 15px;
    position: absolute;
    bottom: -25px;
    border-radius: 50px;
    width: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: bottom .1s ease,
                -webkit-box-shadow .1s ease;
    transition: bottom .1s ease,
                -webkit-box-shadow .1s ease;
    transition: bottom .1s ease,
                box-shadow .1s ease;
    transition: bottom .1s ease,
                box-shadow .1s ease,
                -webkit-box-shadow .1s ease;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
            box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);    
}

.card input[type="submit"]:hover {
    background: #ffe4bc;
    bottom: -24px;
    -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
            box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.card input[type="submit"]:focus, 
.card input[type="submit"]:active {
    outline: none;
    border: 2px solid #ffefd8;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
}

footer {
    color: hsla(0, 0%, 100%, 80%);
    text-align: center;
}
footer a {
    color: hsla(0, 0%, 100%, 90%)
}