<% include ../includes/head %>

<section class="about card">
    <h2>About /Brief</h2>
    <p>I went to an art and design school. There, I saw that the design students were always looking for 
        ways to add to their portfolio, but that it was hard to get professional work without already 
        having experience.</p>
    <p>That’s why I made <strong>Brief</strong>. It generates random design briefs—the document with 
        all the specifications for the design that a hypothetical client would give you. You can choose 
        from many different types of design work and industries so that you always have fresh briefs 
        to practice on.</p>
    <h3>Version 1.0</h3>
    <p>I made the initial version in 2016 and I was surprised at how well it was received! It's been 
        used all around the world, and I love getting emails from people telling me how they've found 
        the site useful. It's even been used in some schools to teach design, and featured on websites 
        like <a href="http://www.ucreative.com/articles/designer-creates-website-for-randomly-generated-design-briefs/">
        UCreative.</a> I love the designs I've seen people make based on my sites brief, and in 2018 I 
        decided to redesign the website from the ground up. The original version is still available 
        <a href="/v1">here</a>.</p>
    <h3>Version 2.0</h3>
    <p>While the original site was just built with client-side Javascript and jQuery, I decided to use 
        Node.js and Express.js for the redesign. This will allow me to lay the foundation for other 
        features that I have planned down the road. For now, this update adds several new job types and 
        industries, as well as a better sentence generation system and a refreshed design. If you have 
        any suggestions for future updates, feel free to <a href="https://manuodelrio.com#contact">contact me.</a>
    </p>
</section>

<% include ../includes/footer %>